<%-include("./partials/header") %>

<h1>Bleiker VGS login-api endpoint documentation</h1>

<section class="api-endpoints">
    <ul>
        <li><a href="#">/create-user</a></li>
        <li><a href="#">/login-user</a></li>
        <li><a href="#">/refreshuser</a></li>
        <li><a href="#">/logout</a></li>
    </ul>
</section>

<%-include("./partials/footer") %>