@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    --secondary-bg: #eaeaea;
    --secondary-fg: #290000;

    --text-stdWidth: 75ch;
}

body {
    font-size: 2rem;
    max-width: 100%;
}

.intro {
    width: var(--text-stdWidth);
    margin: 0 auto;
    max-width: 100%;
}

.doc-section {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: var(--text-stdWidth);
    max-width: 100%;
}

.doc-section h1 {
    font-size: 2rem;
}

.doc-section h3 {
    font-size: 1.5rem;
}

.doc-section p {
    font-size: 1.5rem;
}

.endpoint-doc {
    color: var(--secondary-fg);
    background-color: var(--secondary-bg);
    margin: 1ch 0;
    padding: 0.5ch 1ch;
}

.roboto-condensed-500 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: italic;
  }